__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store

.pio/
build/
dist/

best_model_dict.pth
*.pth
*.pt
*.ckpt

emg_hand_gestures.csv
sample_emg_hand_gestures.csv
